---
// aqui va el JavaScript
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <h2 class="font-bold text-white">Esta es una aplicación hecha con Astro</h2>

    <nav>
        <ul class="flex justify-center mt-8 space-x-4">
            <li>
                <a href="/" class="text-white hover:text-gray-300">Inicio</a>
            </li>
            <li>
                <a href="/about" class="text-white hover:text-gray-300">Acerca de</a>
            </li>
            <li>
                <a href="/contact" class="text-white hover:text-gray-300">Contacto</a>
            </li>
        </ul>
    </nav>
</header>
